*{
    margin:0;
    padding:0;
    box-sizing:border-box;
}

body{
    background:#f7f2e9;
    font-family:Georgia, serif;
    color:#1f355e;
    min-height:100vh;

    display:flex;
    justify-content:center;
    align-items:center;
}

.container{
    text-align:center;
}

h1{
    font-size:3rem;
    margin-bottom:20px;
}

p{
    font-size:1.2rem;
    margin-bottom:10px;
}

button{
    margin-top:40px;
    padding:15px 40px;
    border:none;
    border-radius:40px;
    background:#18345c;
    color:white;
    font-size:18px;
    cursor:pointer;
    transition:.3s;
}

button:hover{
    transform:scale(1.05);
}
